---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Reviews from "../components/Reviews.astro";
import Award from "../components/Award.astro";
import FAQ from "../components/FAQ.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import Features from "../components/Features.astro";
---

<Layout title="RentFriends">
	<Navbar />

	<main class="min-h-[calc(100vh-72px)] flex flex-col">
		<Hero />

		<div id="features" class="scroll-mt-[72px]">
			<Features />
		</div>

		<div id="reviews" class="scroll-mt-[72px]">
			<Reviews />
		</div>

		<div id="award" class="scroll-mt-[72px]">
			<Award />
		</div>

		<div id="faq" class="scroll-mt-[72px]">
			<FAQ />
		</div>

		<div id="download" class="scroll-mt-[72px]">
			<CTA />
		</div>

		<Footer />
	</main>
</Layout>