---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Reviews from "../components/Reviews.astro";
import Award from "../components/Award.astro";
import FAQ from "../components/FAQ.astro";
---

<Layout title="RentFriends">
	<Navbar />

	<main class="min-h-[calc(100vh-72px)] flex flex-col">
		<Hero />
		<Reviews />
		<Award />
		<FAQ />
	</main>
</Layout>